.form {
  background-color: #f6f6f6;
  border: 0px;
  border-radius: 4px;
  font-size: 13px;
  padding: 2px;
  padding-left: 40px;
  width: 335px;
  height: 40px;
}

.inputContainer {
  align-items: center;
  display: flex;

  div {
    position: relative;
  }

  li {
    align-items: center;
    color: #9a9ca1;
    display: flex;
    font-size: 14px;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 15px;
    top: 0;
  }
}
